.projects {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 75px;
    padding-left: 1%;
    padding-right: 2%;
    height: auto;
    font-family: 'Gill Sans',sans-serif;
    font-weight: normal;
}
.projects h1 {
    padding-top: 2%;
    font-family: fantasy;
    font-weight: normal;
    margin: auto;
    text-align: center;
}