.top-container {
    margin-top: -12px;
    background-color: rgb(162, 192, 247);
}

.top-container .top-content {
    margin-left: 20px;
    margin-top: 10px;
}

.top-container .top-content .h2 {
    margin-top: -5px;

}