.footer {
    background-color: #7997BB;
    position: relative;
    widows: 100%;
    height: 100px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
}

.footer p {
    display: inline;
    font-size: large;
}